body {
	margin:0px;
	background-color:white;
}
#dandyphotos {
	width: 100%;
}
#navbar {
	text-align:right;
	background-color: white;
	color: white;
	margin: 0px;
	height: 8vw;
	width: 100%;
}
#navbar a {
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-size:4vw;
	padding: 1.25vw;
	padding-left: 1vw;
	padding-right: 1vw;
}
.navbutton {
	margin:0px;
	height: 8vw;
	width: 25%;
	background-color: white; 
	color: #07167a;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    float:left;
    text-align: center;
    border: 1px;
    border-style: solid;
}
.navbutton:hover {
	background-color: #008CBA; 
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#header {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	background-color: #07167a;
	color: white;
	margin: 0px;
	padding: 5px;
}
#header p { 
	width: 80%;
	margin: auto;
	font-size:5vw;
}
h1 {
	color: white; 
	font-size: 8vw; 
	font-weight: 100;  
	letter-spacing: 1px; 
	padding: 0 0 0.2vw; 
	border-bottom: 3px solid white;
}
.cute {
	font-family: 'Brush Script MT', 'Yesteryear', cursive;
	font-size: 7.5vw; 
	font-style: italic;
	font-weight: lighter;
}
.imageCarousel {
	height: 50vh;
	margin: 0px auto;
	width: 100%;
	border-bottom: double #07167a;
}
.item img {
	max-height: 50vh;
	min-height: 50vh;
	margin: auto;
	object-fit: cover;
}
.carousel-control {
	width:16%;
}
h2 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size:7.5vw;
}
#main {
	width: 100%;
	text-align: center;
	color: #07167a;
	margin: 0px auto;
}
#main p {
	font-family: 'Yanone Kaffeesatz', ‘Lucida Grande’, sans-serif;
	font-size:4.5vw;
	letter-spacing: 0.25px;
}
#about {
	width: 80%;
	margin: 0px auto;
}
#intro {
	width: 85%;
	margin: auto;
}
figure {
	width: 65%;
	margin: 10px auto;
	background-color: #07167a;
	padding: 7.5px;
}
figure img {
	height: 30vh;

}
figcaption {
	font-family: 'Yanone Kaffeesatz', ‘Lucida Grande’, sans-serif;
	font-size: 3.5vw;
	color: white;
}
#footer {
	text-align:left;
	background-color: #07167a;
	color: white;
	height: 10vw;
	margin: 0px;
	padding: 3px;
}
#footer * {
	display: inline-block;
}
#footer p {
	font-family: 'Oswald', sans-serif;
	font-size:5vw;
	padding-left: 1.5vw;
	padding-right: 1vw;
	margin: auto;
}
#footer img {
	height: 7vw;
	margin-bottom: 1vw;
}
.grad {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top,rgba(7,22,122,1),rgba(7,22,122,0)); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom right,rgba(7,22,122,1),rgba(7,22,122,0)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom right,rgba(7,22,122,1),rgba(7,22,122,0)); /*Fx 3.6-15*/
  background: linear-gradient(to bottom right,rgba(7,22,122,1),rgba(7,22,122,0)); /*Standard*/
}
#uniteGallery {
	margin: 5px auto;
}
#imageUpload {
	width: 100%;
	background: -webkit-linear-gradient(left top,rgba(7,22,122,1),rgba(7,22,122,0)); /*Safari 5.1-6*/
  	background: -o-linear-gradient(bottom right,rgba(7,22,122,1),rgba(7,22,122,0)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(bottom right,rgba(7,22,122,1),rgba(7,22,122,0)); /*Fx 3.6-15*/
	background: linear-gradient(to bottom right,rgba(7,22,122,1),rgba(7,22,122,0)); /*Standard*/
}
#imageUpload p {
	color: white;
	padding-top: 10px;
}
.button {
	border: none;
	background-color: #e7e7e7; 
	color: #07167a;
	padding: 5px 8px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button:hover {
	background-color: #008CBA; 
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


@media screen and (min-width: 600px) {
	#navbar {
		height: 5vw;
		width: 100%;
	}
	#navbar a {
		font-size:3vw;
		padding: .5vw;
		padding-left: 1vw;
		padding-right: 1vw;
	}
	.navbutton {
		height: 5vw;
		width: 25%;
	}

	#header {
		padding: 5px;
	}
	#header p { 
		width: 80%;
		font-size:3.5vw;
	}
	h1 {
		font-size: 6vw; 
		font-weight: 100;  
	}
	.cute {
		font-size: 5vw; 
	}

	h2 {
		font-size:3.5vw;
	}
	#main {
		width: 100%;
		text-align: center;
		color: #07167a;
		margin: 0px auto;
	}
	#main p {
		font-size:2.75vw;
	}
	figure {
		width: 80%;
	}
	figcaption {
		font-size: 2.5vw;
	}
	#about {
		width: 65%;
		margin: 0px auto;
	}
	#intro {
		width: 70%;
	}
	#footer {
		height: 4vw;
	}
	#footer p {
		font-size:2.25vw;
	}
	#footer img {
		height: 3vw;
	}
}