<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X_UA_Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Project 4: Animation Walkthrough</title>

	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/genome" type="text/css"/>
	<link href="../../public/css/practiceAppStyles.css" rel="stylesheet">
	<link rel="icon" href="">
</head>

<body>
	<div class="dropdown">
		<input type="image" src="http://icon-icons.com/icons2/665/PNG/128/asteroid_icon-icons.com_60284.png" onclick="dropdown()" class="dropbtn"/>
		<div id="myDropdown" class="dropdownContent">
			<a> Click a Link! </a>
			<a href="home.html">Home</a>
			<a href="phyllotaxis.html"><span class="primary">Project 1</span><span class="secondary">Phyllotaxis</span></a>
			<a href="parallax.html"><span class="primary">Project 2</span><span class="secondary">Parallax</span></a>
			<a href="cataglyphis.html"><span class="primary">Project 3</span><span class="secondary">Cataglyphis</span></a>
			<a href="parallax.html"><span class="primary">Project 4</span><span class="secondary">Animation Walkthrough</span></a>
			<a href="../../index.html"><span class="primary">My Website</span><span class="secondary">Back to Main</span></a>
		</div>
	</div>
	<script src="../../public/js/dropdownMenu.js"></script>

	<header id="top" class="header">
		<div class="text-vertical-center">
			<h1>Project 4</h1>
			<h2>Animation Walkthrough</h2>
		</div>
	</header>
	<main>

	</main>
</body>
</html>
