<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X_UA_Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Home Page</title>

	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/genome" type="text/css"/>
	<link href="../../public/css/projects2.min.css" rel="stylesheet">
	<link rel="icon" href="../Projects1/spaceship.png">	
</head>

<body>
	<header id="top" class="header">
		<div class="text-vertical-center">
			<h1>Home Page</h1>
			<h3>Make something part 2</h3>
		</div>
	</header>
	<main>
		<a href="phyllotaxis.html"><button class="btn"><span class="primary">Project 1</span><span class="secondary">Phyllotaxis thing</span></button></a>
		<a href="parallax.html"><button class="btn"><span class="primary">Project 2</span><span class="secondary">Parallax thing</span></button></a>
		<a href="cataglyphis.html"><button class="btn"><span class="primary">Project 3</span><span class="secondary">Cataglyphis</span></button></a>
		<a href="../../index.html"><button class="btn"><span class="primary">My Website</span><span class="secondary">Back to Main</span></button></a>
	</main>
</body>
</html>
