<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X_UA_Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Project 4: Mouse Tracker</title>

	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/genome" type="text/css"/>
	<link href="../../public/css/practiceAppStyles.css" rel="stylesheet">
	<link rel="icon" href="http://www.clker.com/cliparts/z/f/q/Z/z/d/spaceship-md.png">
</head>

<body>
	<div class="dropdown">
		<input type="image" src="http://icon-icons.com/icons2/665/PNG/128/asteroid_icon-icons.com_60284.png" onclick="dropdown()" class="dropbtn"/>
		<div id="myDropdown" class="dropdownContent">
			<a> Click a Link! </a>
			<a href="home.html">Home</a>
			<a href="simpleFace.html"><span class="primary">Project 1</span><span class="secondary">Simple Face</span></a>
			<a href="radialClock.html"><span class="primary">Project 2</span><span class="secondary">Radial Clock</span></a>
			<a href="shootingStars.html"><span class="primary">Project 3</span><span class="secondary">Shooting Stars</span></a>
			<a href="mouseTracker.html"><span class="primary">Project 4</span><span class="secondary">Mouse Tracker</span></a>
			<a href="meteorGame.html"><span class="primary">Project 5</span><span class="secondary">Meteor Game</span></a>
			<a href="gravitySimulator.html"><span class="primary">Project 6</span><span class="secondary">Gravity Simulator</span></a>
			<a href="imageGenerator.html"><span class="primary">Project 7</span><span class="secondary">Image Generator</span></a>
			<a href="liveCharting.html"><span class="primary">Project 8</span><span class="secondary">Live Charting</span></a>
			<a href="vectorFields.html"><span class="primary">Project 9</span><span class="secondary">Vector Fields</span></a>			
			<a href="../../index.html"><span class="primary">My Website</span><span class="secondary">Back to Main</span></a>
		</div>
	</div>
	<script src="../../public/js/dropdownMenu.js"></script>
	
	<header id="top" class="header">
		<div class="text-vertical-center">
			<h1>Project 4</h1>
			<h2>Mouse Tracker</h2>
		</div>
	</header>
	<body>
		<div id="canvasDiv">
			<canvas id="myCanvas" width="400" height="400" style="background-color: white;"></canvas>
		</div>
		<script src="../../public/js/mouseTracker.js"></script>
	</body>

</body>
</html>