<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X_UA_Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<title>Project 7</title>

	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/genome" type="text/css"/>
	<link href="../../public/css/practiceAppStyles.css" rel="stylesheet">
	<link rel="icon" href="http://www.clker.com/cliparts/z/f/q/Z/z/d/spaceship-md.png">
</head>

<body>
	<div class="dropdown">
		<input type="image" src="http://icon-icons.com/icons2/665/PNG/128/asteroid_icon-icons.com_60284.png" onclick="dropdown()" class="dropbtn"/>
		<div id="myDropdown" class="dropdownContent">
			<a> Click a Link! </a>
			<a href="home.html">Home</a>
			<a href="project1.html"><span class="primary">Project 1</span><span class="secondary">Dandy!</span></a>
			<a href="project2.html"><span class="primary">Project 2</span><span class="secondary">Simple Face</span></a>
			<a href="project3.html"><span class="primary">Project 3</span><span class="secondary">Radial Clock</span></a>
			<a href="project4.html"><span class="primary">Project 4</span><span class="secondary">Shooting Stars</span></a>
			<a href="project5.html"><span class="primary">Project 5</span><span class="secondary">Mouse Tracker</span></a>
			<a href="project6.html"><span class="primary">Project 6</span><span class="secondary">Meteor Game</span></a>
			<a href="project7.html"><span class="primary">Project 7</span><span class="secondary">Gravity Simulator</span></a>
			<a href="project8.html"><span class="primary">Project 8</span><span class="secondary">Image Generator</span></a>
			<a href="../../index.html"><span class="primary">My Website</span><span class="secondary">Back to Main</span></a>
		</div>
	</div>
	<script src="../../public/js/dropdownMenu.js"></script>
	
	<header id="top" class="header">
		<div class="text-vertical-center">
			<h1>Project 7</h1>
			<h2>Gravity Simulator</h2>
		</div>
	</header>
	<main>
		<button class="center btn" onclick="simple()">Start Simple</button>
	
		<script src="../../public/js/gravitySimulator.js"></script>
	</main>
</body>
</html>