<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X_UA_Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Andrew's Games</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=B612+Mono&display=swap" rel="stylesheet">
    <link href="../../public/css/gameStyles.min.css" rel="stylesheet">
    <link rel="icon" href="http://www.clker.com/cliparts/z/f/q/Z/z/d/spaceship-md.png">
  </head>
  <body class="page-wrapper" id="shooter">
    <header id="top" class="header">
      <div class="text-vertical-center">
        <h1>Shooter!</h1>
        <h2>Shoot things!</h2>
      </div>
    </header>

    <div class="main-wrapper">
      <div class="sub-wrapper">
        <div id=levelSelection>
          <h2>Pick a difficulty</h2>
          <div>
            <button onclick="setupBoard('easy')" class="small-btn">Easy</button>
            <button onclick="setupBoard('medium')" class="small-btn">Medium</button>
            <button onclick="setupBoard('hard')" class="small-btn">Hard</button>
          </div>
        </div>
        <!--<div id="instructions">
          <p>
            move with <span class="key">arrows</span>, <span class="key">wasd</span>, or <span class="key">swipe</span>
          </p>
        </div> -->
      </div>
      <div id="canvas-wrapper">
      </div>
      <div id="score" class="sub-wrapper">
        <p>Time: <span id="enemies">0</span> seconds</p>
        <p>Moves: <span id="score">0</span></p>
      </div>
    </div>

    <script type="text/javascript" src="../../public/js/gameJS/shooter.js"></script>
  </body>
</html>
