<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X_UA_Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>BrainSPORT</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/genome" type="text/css"/>
	<link href="../../public/css/practiceAppStyles.css" rel="stylesheet">
	<link rel="icon" href="http://www.clker.com/cliparts/z/f/q/Z/z/d/spaceship-md.png">
</head>

<body>	
	<header id="top" class="header">
		<div class="text-vertical-center">
			<h1>BrainSPORT</h1>
			<h2>Dodge the cubesats!</h2>
		</div>
	</header>

	<button class="center btn" onclick="startGame()">Click to Start</button>
	<div id="sliderDiv">
		<input type="range" id="slider" min="1" max="5" value="2" 
			onchange="updateSlider()"> 
		<p id="sliderValue">Level 2</p>
	</div>
	<canvas id="myCanvas"></canvas>
	<script src="../../public/js/gameJS/brainSPORT.js"></script>
</body>
</html>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <div id="game-over-overlay">
    </div>

    <div id="game-over">
      <h1>GAME OVER</h1>
      <button id="play-again">Play Again</button>
    </div>

    <div class="wrapper">
      <div id="instructions">
        <div>
          move with <span class="key">arrows</span> or <span class="key">wasd</span>
        </div>
        <div>
          shoot with <span class="key">space</span>
        </div>
      </div>

      <div id="score"></div>
    </div>

    <script type="text/javascript" src="../../public/js/gameJS/resources.js"></script>
    <script type="text/javascript" src="../../public/js/gameJS/input.js"></script>
    <script type="text/javascript" src="../../public/js/gameJS/sprite.js"></script>
    <script type="text/javascript" src="../../public/js/gameJS/brainSPORT.js"></script>
  </body>
</html>
