<!DOCTYPE html> 
<html lang="eng-US">
	<head>
		<title>The Power Couple's Photos</title>
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	    <link rel="stylesheet" type="text/css" href="../../public/css/Dandy.css">
		
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- javascript extension from unitegallery -->
	  	<script type='text/javascript' src='../../public/unitegallery/js/jquery-11.0.min.js'></script>	
		<script type='text/javascript' src='../../public/unitegallery/js/unitegallery.min.js'></script>	
		<link rel='stylesheet' href='../../public/unitegallery/css/unite-gallery.css' type='text/css' />
		
		<script type='text/javascript' src='../../public/unitegallery/themes/tiles/ug-theme-tiles.js'></script>
		<script src="https://widget.cloudinary.com/global/all.js"></script>
		<script>
		$(() => {
			let imageContainer = $('#imageContainer')
			let filePicker = $('#uploadFile')

			filePicker.on('click', function(evt) {
				cloudinary.openUploadWidget({
					cloud_name:'dluv1cbap',
					upload_preset: 'pzjvfhly'
				}, (error, result) => {
					if (!error) {
						let tmp = ''
						var picture = document.createElement('img')
						picture.src = "${img.url}"
						imageContainer.appendChild(picture)
						console.log('uploaded')
						
						//updateFeed(userPic, tmp)
						//sendMessage(tmp);
					}
					else {
						console.log("error?")
					}
				})
			})
		})
		</script>

	</head>

	<body id="dandyphotos">
		<div id="navbar">
			<nav>
				<a href="index.html"><button class="navbutton">Home</button></a>
				<a href="index.html#about"><button class="navbutton">About Us</button></a>
				<a href="dandyphotos.html"><button class="navbutton">Photo Gallery</button></a>
				<a href="dandyprojects.html"><button class="navbutton">Projects</button></a>
			</nav>
		</div>

		<div id="header">
			<h1>Dan and Andy</h1>
			<p>Here's our photo Gallery featuring all the <span class="cute">cute couple photos</span> we take!</p>
		</div>

		<div id="main">
			<div id="uniteGallery">
				<div id="gallery"> 
					{{#each items}}


				    <img alt="layingBack"
				     src="https://github.com/andrewevans1/andrewevans1.github.io/blob/master/views/Dandy/images/layingBack.JPG?raw=true"
				     data-image="https://github.com/andrewevans1/andrewevans1.github.io/blob/master/views/Dandy/images/layingBack.JPG?raw=true"
		     		 data-description="Laying Back"
				     style="display:none">
				     {{/each}}
				</div>
				<script type="text/javascript">
					jQuery(document).ready(function(){
						jQuery("#gallery").unitegallery({
							tiles_type:"nested"
						});
					});
				</script>
			</div>
			<div id="imageContainer">
				<p>Image should appear here...</p>
			</div>

			<div id="imageUpload">
				<form>
					<input type='file' name='fileName' id='name' placeholder='Image Item' required/><br>
					<input type=submit id='uploadFile' value='Upload Picture'/>
				</form>
				
				<!-- <script type="text/javascript" src="js/dandy.js"></script> -->
			</div>
		</div>

		<div id="footer" class="grad">
			<a href="https://www.facebook.com/danny.juergens?fref=hovercard" target="_blank">Link to Facebook: Danny's</a>
			<a href="https://www.facebook.com/profile.php?id=100011758095244" target="_blank">or Andrew's</a>
			<a href="https://www.instagram.com/dannyjuergens/" target="_blank">Link to Instagram: Danny's</a>
			<a href="https://www.instagram.com/andrew_evans_/" target="_blank">or Andrew's</a>
		</div>
	</body>
</html>