<!DOCTYPE html> 
<html lang="eng-US">
	<head>
		<title>The Power Couple's Photos</title>
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	    <link rel="stylesheet" type="text/css" href="../../public/css/Dandy.css">
	    <link href="https://fonts.googleapis.com/css?family=Oswald|Yesteryear|Yanone+Kaffeesatz" rel="stylesheet">
		
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- javascript extension from unitegallery -->
	  	<script type='text/javascript' src='../../public/unitegallery/js/jquery-11.0.min.js'></script>	
		<script type='text/javascript' src='../../public/unitegallery/js/unitegallery.min.js'></script>	
		<link rel='stylesheet' href='../../public/unitegallery/css/unite-gallery.css' type='text/css' />
		
		<script type='text/javascript' src='../../public/unitegallery/themes/tiles/ug-theme-tiles.js'></script>
		
		<script src='../../public/js/cloudinary/jquery.ui.widget.js' type='text/javascript'></script>
		<script src='../../public/js/cloudinary/jquery.iframe-transport.js' type='text/javascript'></script>
		<script src='../../public/js/cloudinary/jquery.fileupload.js' type='text/javascript'></script>
		<script src='../../public/js/cloudinary/jquery.cloudinary.js' type='text/javascript'></script>

		<script>
		$.cloudinary.config({ cloud_name: 'dluv1cbap', api_key: '694152244965438'})

		</script>
	</head>

	<body id="dandyphotos">
		<div id="navbar">
			<nav>
				<a href="index.html" class="navbutton">Dandy Home</a>
				<a href="dandyphotos.html" class="navbutton">Photo Gallery</a>
				<a href="dandyprojects.html" class="navbutton">Projects</a>
				<a href="../../index.html" class="navbutton">Back to Main</a>
			</nav>
		</div>

		<div id="header">
			<a href="dandyphotos.hbs" class="navbutton">To Experiemntal Photo Gallery</a>
			<br/>
			<h1>Dan and Andy</h1>
			<p>Here's our photo Gallery featuring all the <span class="cute">cute couple photos</span> we take!</p>
		</div>

		<div id="main">
			<div id="uniteGallery">
				<div id="gallery"> 
					<img alt="piggyback"
				     src="https://github.com/andrewevans1/andrewevans1.github.io/blob/master/views/Dandy/images/piggyback.JPG?raw=true"
				     data-image="https://github.com/andrewevans1/andrewevans1.github.io/blob/master/views/Dandy/images/piggyback.JPG?raw=true"
		     		 data-description="Piggyback ride!"
				     style="display:none">

				    <img alt="graduation"
				     src="https://github.com/andrewevans1/andrewevans1.github.io/blob/master/views/Dandy/images/graduation.JPG?raw=true"
				     data-image="https://github.com/andrewevans1/andrewevans1.github.io/blob/master/views/Dandy/images/graduation.JPG?raw=true"
		     		 data-description="Graduation!"
				     style="display:none">
				     
				    <img alt="prom"
				     src="https://github.com/andrewevans1/andrewevans1.github.io/blob/master/views/Dandy/images/prom.JPG?raw=true"
				     data-image="https://github.com/andrewevans1/andrewevans1.github.io/blob/master/views/Dandy/images/prom.JPG?raw=true"
		     		 data-description="Prom!"
				     style="display:none">
				     
				    <img alt="sunsetSilhouette"
				     src="https://github.com/andrewevans1/andrewevans1.github.io/blob/master/views/Dandy/images/sunsetSilhouette.JPG?raw=true"
				     data-image="https://github.com/andrewevans1/andrewevans1.github.io/blob/master/views/Dandy/images/sunsetSilhouette.JPG?raw=true"
		     		 data-description="Silhouettes at sunset"
				     style="display:none">

				    <img alt="hugFromBehind"
				     src="https://github.com/andrewevans1/andrewevans1.github.io/blob/master/views/Dandy/images/hugFromBehind.JPG?raw=true"
				     data-image="https://github.com/andrewevans1/andrewevans1.github.io/blob/master/views/Dandy/images/hugFromBehind.JPG?raw=true"
		     		 data-description="Hug from behind!"
				     style="display:none">

				    <img alt="lockedEyes"
				     src="https://github.com/andrewevans1/andrewevans1.github.io/blob/master/views/Dandy/images/lockedEyes.JPG?raw=true"
				     data-image="https://github.com/andrewevans1/andrewevans1.github.io/blob/master/views/Dandy/images/lockedEyes.JPG?raw=true"
		     		 data-description="Locked Eyes"
				     style="display:none">

				    <img alt="layingBack"
				     src="https://github.com/andrewevans1/andrewevans1.github.io/blob/master/views/Dandy/images/layingBack.JPG?raw=true"
				     data-image="https://github.com/andrewevans1/andrewevans1.github.io/blob/master/views/Dandy/images/layingBack.JPG?raw=true"
		     		 data-description="Laying Back"
				     style="display:none">

				</div>
				<script type="text/javascript">
					jQuery(document).ready(function(){
						jQuery("#gallery").unitegallery({
							tiles_type:"nested"
						});
					});
				</script>
			</div>

			<div id="imageUpload">
				<form action='/create' method='POST'>
					<input type='file' name='fileName' id='name' placeholder='Image Item' required/><br>
					<input type=submit id='subBtn' value='Upload Picture'/>
				</form>

				<input name="file" type="file" class="cloudinary-fileupload" data-cloudinary-field="image_id" data-form-data=" ... html-escaped JSON data ... " />
				<!-- <script type="text/javascript" src="js/dandy.js"></script> -->
			</div>
		</div>

		<div id="footer">
			<p>Danny's </p>
			<a href="https://www.facebook.com/danny.juergens?fref=hovercard" target="_blank"><img src="../Images/facebook_circle.svg"></a>
			<a href="https://www.instagram.com/dannyjuergens/" target="_blank"><img src="../Images/instagram_circle.svg"></a>
			<p>or Andrew's</p>
			<a href="https://www.facebook.com/profile.php?id=100011758095244" target="_blank"><img src="../Images/facebook_circle.svg"></a>
			<a href="https://www.instagram.com/andrew_evans_/" target="_blank"><img src="../Images/instagram_circle.svg"></a>
		</div>
	</body>
</html>