<!DOCTYPE html>
<html lang="eng-US">
	<head>
		<title>The Power Couple's Projects</title>
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	    
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="../../public/css/Dandy.css">
		<link href="https://fonts.googleapis.com/css?family=Oswald|Yesteryear|Yanone+Kaffeesatz" rel="stylesheet">
	    
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		<div id="navbar">
			<nav>
				<a href="index.html" class="navbutton">Dandy Home</a>
				<a href="dandyphotos.html" class="navbutton">Photo Gallery</a>
				<a href="dandyprojects.html" class="navbutton">Projects</a>
				<a href="../../index.html" class="navbutton">Back to Main</a>
			</nav>
		</div>

		<div id="header">
			<h1>Dan and Andy</h1>
			<p>Welcome to our website featuring all the <span class="cute">cute couple projects</span> we make!</p>
		</div>
		
		<div id="main">
			<div id="into">
				<h2>Projects!</h2>
				<p>So what exactly do we mean by projects? Well really anything we make, whether it's art or not, whether it's cool or not (it's pretty much always cool though). Basically if we like it and are in the mood to share it, it'll end up on here. Or that's the plan anyways.
				</p>
			</div>
			<div id="content">
				<div id="projects">
					<figure>
						<img src="https://github.com/andrewevans1/andrewevans1.github.io/blob/master/views/Dandy/images/heartNecklace.JPG?raw=true">
						<figcaption>I CADed and then 3D printed (ordered a 3D print) a heart necklace. I didn't think about the chain having a lock, so the chain now goes through the middle of the heart... oh well.</figcaption>
					</figure>
					<figure>
						<img src="">
						<figcaption>Caption!</figcaption>
					</figure>
					<figure>
						<img src="">
						<figcaption>Caption!</figcaption>
					</figure>
				</div>
			</div>
		</div>
		
		<div id="footer">
			<a href="https://www.facebook.com/danny.juergens?fref=hovercard" target="_blank">Link to Facebook: Danny's</a>
			<a href="https://www.facebook.com/profile.php?id=100011758095244" target="_blank">or Andrew's</a>
			<a href="https://www.instagram.com/dannyjuergens/" target="_blank">Link to Instagram: Danny's</a>
			<a href="https://www.instagram.com/andrew_evans_/" target="_blank">or Andrew's</a>
		</div>
	</body>
</html>