<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X_UA_Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Andrew's Games</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<link href="https://fonts.googleapis.com/css?family=B612+Mono&display=swap" rel="stylesheet">
	<link href="../../public/css/gameStyles.min.css" rel="stylesheet">
	<link rel="icon" href="http://www.clker.com/cliparts/z/f/q/Z/z/d/spaceship-md.png">
</head>

<body>
	<header id="top" class="header">
		<div class="text-vertical-center">
			<h1>Games!</h1>
			<h2>Select one below:</h2>
		</div>
	</header>

	<div class="selection-wrapper">
		<a class="btn" href="iceBlocks.html"><h1>Ice blocks</h1><h2>Slip and slide to the exit</h2>
		</a>
		<a class="btn" href="iceBlocks.html"><h1>Ice blocks</h1><h2>Slip and slide to the exit</h2>
		</a>
		<a class="btn" href="iceBlocks.html"><h1>Ice blocks</h1><h2>Slip and slide to the exit</h2>
		</a>
		<a class="btn" href="iceBlocks.html"><h1>Ice blocks</h1><h2>Slip and slide to the exit</h2>
		</a>
	</div>

</body>
</html>
