<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X_UA_Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#a52fe0">
	
	<title>Project 9: Vector Fields</title>

	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/genome" type="text/css"/>
	<link href="../../public/css/projects1.min.css" rel="stylesheet">
	<link rel="icon" href="spaceship.png">
</head>

<body>
	<div class="dropdown">
		<input type="image" src="http://icon-icons.com/icons2/665/PNG/128/asteroid_icon-icons.com_60284.png" onclick="dropdown()" class="dropbtn"/>
		<div id="myDropdown" class="dropdownContent">
			<a> Click a Link! </a>
			<a href="home.html">Home</a>
			<a href="simpleFace.html"><span class="primary">Project 1</span><span class="secondary">Simple Face</span></a>
			<a href="radialClock.html"><span class="primary">Project 2</span><span class="secondary">Radial Clock</span></a>
			<a href="shootingStars.html"><span class="primary">Project 3</span><span class="secondary">Shooting Stars</span></a>
			<a href="mouseTracker.html"><span class="primary">Project 4</span><span class="secondary">Mouse Tracker</span></a>
			<a href="meteorGame.html"><span class="primary">Project 5</span><span class="secondary">Meteor Game</span></a>
			<a href="gravitySimulator.html"><span class="primary">Project 6</span><span class="secondary">Gravity Simulator</span></a>
			<a href="imageGenerator.html"><span class="primary">Project 7</span><span class="secondary">Image Generator</span></a>
			<a href="liveCharting.html"><span class="primary">Project 8</span><span class="secondary">Live Charting</span></a>
			<a href="vectorFields.html"><span class="primary">Project 9</span><span class="secondary">Vector Fields</span></a>
			<a href="../../index.html"><span class="primary">My Website</span><span class="secondary">Back to Main</span></a>
		</div>
	</div>
	<script src="../../public/js/dropdownMenu.js"></script>

	<header id="top" class="header">
		<div class="text-vertical-center">
			<h1>Project 9</h1>
			<h2>Vector Fields!</h2>
			<input type="button" value="Start Vortex" class="btn inline" onclick="vortex()">
			<input type="button" value="Start Collapse" class="btn inline" onclick="collapse()">
			<input type="button" value="Start Trig Field" class="btn inline" onclick="trig()">
			<input type="button" value="Pause" class="btn inline" onclick="stop()">

			<br>
			<table>
				<tr>
					<td>
						<input type="range" id="timeSlider" min="1" max="250" value="10" onchange="updateTimeSlider()">
						<p id="timeSliderValue">Refresh Rate: 10</p>
					</td>
					<td>
						<input type="range" id="scaleSlider" min="1" max="250" value="25" onchange="updateScaleSlider()">
						<p id="scaleSliderValue">Speed Scale: 25</p>
					</td>
				</tr>
				<tr>
					<td>
						<input type="range" id="numberSlider" min="1" max="50" value="5" onchange="updateNumberSlider()">
						<p id="numberSliderValue">Number of Elements: 5</p>
					</td>
					<td>
						<input type="range" id="sizeSlider" min="1" max="25" value="10" onchange="updateSizeSlider()">
						<p id="sizeSliderValue">Size Scale of Elements: 10</p>
					</td>
				</tr>
			</table>
		</div>
	</header>

	<canvas id="canvas" style="background-color:rgba(0,0,0,0.5); display: block;"></canvas>
	<script src="../../public/js/vectorField.js"></script>

</body>
</html>
