<div class="social-media-links">
  {{#each socialMedia}}
    <a href={{link}} target="_blank">
      <img src={{icon}}>
    </a>
  {{/each}}
</div>
<div class="contact">
  <h2>For more information, contact wirz@ucla.edu</h2>
</div>
<p>Andrew Evans 2019</p>
